body{
    font-family: Arial, sans-serif;
}

.container.mt-5{
    border: 1px solid lightgray;
    box-shadow: 10px 10px 10px gray;

}

#product-image{
    border: 10px solid lightgray;
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

#productName{
    color: blue;
}

.col-md-6 strong{
    color: brown;
    font-size: large;
}


