<!-- sidebar.html -->
<aside id="sidebar" class="bg-light p-2 col-md-2 d-none d-md-block col-sm-12">
    <button id="toggleBtn" class="p-2 rounded border mb-3 w-100">
        ☰
    </button>
    <ul id="menuList" class="list-group">
        <li class="list-group-item mb-2 rounded">
            <a href="index.html"
                class="d-flex align-items-center justify-content-center justify-content-lg-start w-100 text-decoration-none">
                <span>🏠 </span>
                <span class="d-md-none menu-text d-lg-inline">Dashboard</span>
            </a>
        </li>

        <li class="list-group-item rounded mb-2 d-flex align-items-center">
            <a href="Products.html"
                class="d-flex align-items-center justify-content-center justify-content-lg-start w-100 text-decoration-none">
                <span>🧴 </span>
                <span class="d-md-none menu-text d-lg-inline">Products</span>
            </a>
        </li>

        <li class="list-group-item rounded mb-2 d-flex align-items-center">
            <a href="UsersPage.html"
                class="d-flex align-items-center justify-content-center justify-content-lg-start w-100 text-decoration-none">
                <span>👤 </span>
                <span class="d-md-none menu-text d-lg-inline">Customers</span>
            </a>
        </li>

        <li class="list-group-item rounded mb-2 d-flex align-items-center">
            <a href="SellerPage.html"
                class="d-flex align-items-center justify-content-center justify-content-lg-start w-100 text-decoration-none">
                <span>🏪 </span>
                <span class="d-md-none menu-text d-lg-inline">Seller</span>
            </a>
        </li>

        <li class="list-group-item rounded mb-2 d-flex align-items-center">
            <a href="OrdersPage.html"
                class="d-flex align-items-center justify-content-center justify-content-lg-start w-100 text-decoration-none">
                <span>📦 </span>
                <span class="d-md-none menu-text d-lg-inline">Orders</span>
            </a>
        </li>

        <li class="list-group-item rounded mb-2 d-flex align-items-center">
            <a href="../../../login.html"
                class="d-flex align-items-center justify-content-center justify-content-lg-start w-100 text-decoration-none">
                <span>🔓</span>
                <span class="d-md-none menu-text d-lg-inline">Logout</span>
            </a>
        </li>
    </ul>
</aside>