.navbar {
    background-color: #1a1a1a;
}

.navbar-brand {
    margin-left: 40px;
    color: #d4af37;
    font-weight: bold;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #d4af37;
}

.nav-link {
    color: #f2f2f2;
    margin-right: 70px;
}

.nav-link:hover {
    color: #d4af37;
}

.navbar-toggler {
    background-color: #f2f2f2;
}


.main-footer-bottom {
    padding: 1.5rem 0;
    background-color: #1a1a1a;
    text-align: center;
    color: #f2f2f2;
}